@import "tailwindcss";

@layer utilities {
  .scrollbar-thin {
    @apply [&::-webkit-scrollbar]:w-2;
    @apply [&::-webkit-scrollbar]:h-2;
    @apply [&::-webkit-scrollbar-thumb]:rounded-full;
    @apply [&::-webkit-scrollbar-track]:bg-(--dropdown-scrollbar-track);
    @apply [&::-webkit-scrollbar-thumb]:bg-(--dropdown-scrollbar-thumb);
  }
}

@layer theme {
  :root {
    --font-family: "Open Sans", sans-serif;
    --app-color: #0A62D0;
    --app-name-color: var(--sidebar-link-color);
    --page-bg: #F0F2F5;

    --sidebar-width: 50px;
    --sidebar-md-width: 200px;
    --sidebar-bg: white;
    --sidebar-link-color: #5B616A;
    --sidebar-link-hover-bg: #F5F5F5;

    --navbar-color: var(--sidebar-link-color);
    --navbar-bg: var(--page-bg);
    --navbar-mode-button-bg: #E6E6E6;
    --navbar-mode-button-border-color: #9398A3;
    --navbar-mode-button-round-bg: white;
    --navbar-mode-button-icon-color: var(--sidebar-link-color);
    --navbar-mode-button-hover-border-color: #484E59;

    --section-container-color: var(--sidebar-link-color);
    --section-container-bg: white;
    --section-container-border-color: #EBEEF2;

    --table-label-color: var(--sidebar-link-color);
    --table-label-bg: var(--section-container-bg);
    --table-label-border-color: var(--sidebar-link-color);
    --table-label-box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    --table-data-color: var(--sidebar-link-color);
    --table-data-bg: #FAFAFA;
    --table-data-hover-bg: var(--sidebar-link-hover-bg);
    --table-data-progress-asc-color: #F04A4A;
    --table-data-progress-desc-color: #2FBA91;

    --login-bg: var(--sidebar-bg);
    --login-border-color: var(--section-container-border-color);

    --button-color: var(--sidebar-link-color);
    --button-bg: var(--section-container-bg);
    --button-border: var(--section-container-border-color);
    --button-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    --button-focus-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    --button-hover-bg: #EDEDF5;

    --textbox-bg: #EDEFF5;
    --textbox-color: var(--sidebar-link-color);
    --textbox-box-shadow: var(--button-box-shadow);
    --textbox-label-color: var(--sidebar-link-color);
    --textbox-readonly-bg: #F7F8FA;

    --dropdown-bg: var(--textbox-bg);
    --dropdown-color: var(--textbox-color);
    --dropdown-box-shadow: var(--textbox-box-shadow);
    --dropdown-label-color: var(--textbox-label-color);
    --dropdown-hover-bg: var(--textbox-bg);
    --dropdown-scrollbar-track: white;
    --dropdown-scrollbar-thumb: #E1E5EB;

    --datetime-color: var(--textbox-color);
    --datetime-bg: var(--textbox-bg);
    --datetime-box-shadow: var(--textbox-box-shadow);
    --datetime-label-color: var(--textbox-label-color);
    --datetime-day-sat-color: #4699de;
    --datetime-day-sun-color: #db7449;
    --datetime-day-hover-color: white;
    --datetime-day-hover-bg: var(--app-color);

    /* z-index */
    --navbar-z-index: 19;
    --sidebar-z-index: 20;
    --datetime-z-index: 25;
    --table-label-z-index: 10;
  }

  .dark {
    --app-color: #8980AB;
    --app-name-color: var(--sidebar-link-color);
    --page-bg: #131314;

    --sidebar-width: 50px;
    --sidebar-md-width: 200px;
    --sidebar-bg: #1A191C;
    --sidebar-link-color: #E3E1EB;
    --sidebar-link-hover-bg: #2B2B33;
    --sidebar-link-hover-border-color: #3E384A;

    --navbar-color: var(--sidebar-link-color);
    --navbar-bg: var(--page-bg);
    --navbar-mode-button-bg: #222730;
    --navbar-mode-button-border-color: #484E59;
    --navbar-mode-button-round-bg: #101318;
    --navbar-mode-button-icon-color: var(--sidebar-link-color);
    --navbar-mode-button-hover-border-color: #787E8A;

    --section-container-color: var(--sidebar-link-color);
    --section-container-bg: #1A191C;
    --section-container-border-color: #242129;

    --table-label-color: var(--sidebar-link-color);
    --table-label-bg: var(--section-container-bg);
    --table-label-box-shadow: 0 0 2px rgba(255, 255, 255, 1);
    --table-label-border-color: var(--sidebar-link-color);
    --table-data-color: var(--sidebar-link-color);
    --table-data-bg: #222024;
    --table-data-hover-bg: var(--sidebar-link-hover-bg);
    --table-data-progress-asc-color: #F04A4A;
    --table-data-progress-desc-color: #4AF0C1;

    --login-bg: var(--sidebar-bg);
    --login-border-color: var(--section-container-border-color);

    --button-color: var(--sidebar-link-color);
    --button-bg: var(--section-container-bg);
    --button-border: var(--section-container-border-color);
    --button-box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
    --button-focus-box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    --button-hover-bg: #242329;

    --textbox-bg: #32313B;
    --textbox-color: var(--sidebar-link-color);
    --textbox-box-shadow: var(--button-box-shadow);
    --textbox-label-color: var(--sidebar-link-color);
    --textbox-readonly-bg: #222126;

    --dropdown-bg: var(--textbox-bg);
    --dropdown-color: var(--textbox-color);
    --dropdown-box-shadow: var(--textbox-box-shadow);
    --dropdown-label-color: var(--textbox-label-color);
    --dropdown-hover-bg: #252429;
    --dropdown-scrollbar-track: #373642;
    --dropdown-scrollbar-thumb: #242226;

    --datetime-color: var(--textbox-color);
    --datetime-bg: #0F0E0F;
    --datetime-box-shadow: var(--textbox-box-shadow);
    --datetime-label-color: var(--textbox-label-color);
    --datetime-day-sat-color: #6fb6f1;
    --datetime-day-sun-color: #f1956f;
    --datetime-day-hover-color: var(--accent-color);
    --datetime-day-hover-bg: var(--app-color);
  }
}

body {
  padding-top: constant(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);
}