@import "tailwindcss";

@layer utilities {
  .scrollbar-thin {
    @apply [&::-webkit-scrollbar]:w-2;
    @apply [&::-webkit-scrollbar]:h-2;
    @apply [&::-webkit-scrollbar-thumb]:rounded-full;
    @apply [&::-webkit-scrollbar-track]:bg-(--dropdown-scrollbar-track);
    @apply [&::-webkit-scrollbar-thumb]:bg-(--dropdown-scrollbar-thumb);
  }
}

@layer theme {
  :root {
    --font-family: "Open Sans", sans-serif;
    --app-color: #0A62D0;
    --app-name-color: var(--sidebar-link-color);
    --page-bg: #F0F2F5;

    --sidebar-width: 50px;
    --sidebar-md-width: 200px;
    --sidebar-bg: var(--page-bg);
    --sidebar-link-color: #5B616A;
    --sidebar-link-bg: #E0E0E0;
    --sidebar-link-hover-bg: var(--sidebar-link-bg);

    --navbar-color: var(--sidebar-link-color);
    --navbar-bg: var(--page-bg);
    --navbar-mode-button-bg: #E6E6E6;
    --navbar-mode-button-border-color: #9398A3;
    --navbar-mode-button-round-bg: white;
    --navbar-mode-button-icon-color: var(--sidebar-link-color);
    --navbar-mode-button-hover-border-color: #484E59;

    --section-container-color: var(--sidebar-link-color);
    --section-container-bg: white;
    --section-container-border-color: #EBEEF2;

    --label-color: var(--sidebar-link-color);

    --table-label-color: var(--sidebar-link-color);
    --table-label-bg: var(--section-container-bg);
    --table-label-border-color: var(--sidebar-link-color);
    --table-label-box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    --table-data-color: var(--sidebar-link-color);
    --table-data-bg: #FAFAFA;
    --table-data-hover-bg: var(--sidebar-link-hover-bg);
    --table-data-progress-asc-color: #F04A4A;
    --table-data-progress-desc-color: #2FBA91;
    --table-data-shimmer-bg: #E3E3E3;

    --login-bg: var(--sidebar-bg);
    --login-border-color: var(--section-container-border-color);

    --button-color: var(--sidebar-link-color);
    --button-bg: var(--section-container-bg);
    --button-border: var(--section-container-border-color);
    --button-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    --button-focus-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    --button-hover-bg: #EDEDF5;

    --textbox-bg: #EDEFF5;
    --textbox-color: var(--sidebar-link-color);
    --textbox-box-shadow: var(--button-box-shadow);
    --textbox-readonly-bg: #F7F8FA;
    --search-box-color: var(--textbox-color);
    --search-box-bg: var(--textbox-bg);
    --search-box-placeholder-color: #858A92;

    --dropdown-bg: var(--textbox-bg);
    --dropdown-color: var(--textbox-color);
    --dropdown-box-shadow: var(--textbox-box-shadow);
    --dropdown-label-color: var(--textbox-label-color);
    --dropdown-hover-bg: var(--textbox-bg);
    --dropdown-scrollbar-track: white;
    --dropdown-scrollbar-thumb: #E1E5EB;

    --datetime-color: var(--textbox-color);
    --datetime-bg: var(--textbox-bg);
    --datetime-box-shadow: var(--textbox-box-shadow);
    --datetime-label-color: var(--textbox-label-color);
    --datetime-day-sat-color: #4699de;
    --datetime-day-sun-color: #db7449;
    --datetime-day-hover-color: white;
    --datetime-day-hover-bg: var(--app-color);

    --chart-setting-bg: var(--page-bg);
    --chart-setting-box-shadow: var(--common-container-box-shadow);
    --chart-title-color: #5B616A;
    --chart-legend-color: #101318;
    --chart-grid-color: #EDEDED;
    --chart-xaxis-axisBorder-color: #EDEDED;
    --chart-xaxis-label-color: #A7ABB0;
    --chart-xaxis-title-color: #C1C3C6;
    --chart-yaxis-label-color: #A7ABB0;
    --chart-yaxis-title-color: #C1C3C6;
    --chart-tooltip-time-color: var(--chart-yaxis-label-color);
    --chart-tooltip-data-color: var(--chart-title-color);
    --chart-zoom-border-color: rgba(46, 130, 111, 1);
    --chart-zoom-bg: rgba(46, 130, 111, 0.25);
    --ue-chart-streaming-icon-color: var(--search-box-placeholder-color);
    --ue-chart-streaming-icon-hover-color: var(--search-box-with-result-count-color);
    --ue-chart-streaming-icon-hover-bg: var(--search-box-with-result-count-bg);
    --matrix-chart-color-offline: #BFBFBF;
    --matrix-chart-color-online: #33B57F;
    --matrix-chart-color-task: #3369B5;
    --chart-data-color-1: #0A62D0;
    --chart-data-color-2: #D0770A;
    --chart-data-color-3: #3B5EA8;
    --chart-data-color-4: #3BA885;
    --chart-data-color-5: #3B5EA8;
    --chart-data-color-6: #3BA885;
    --chart-data-color-7: #3B5EA8;
    --chart-data-color-8: #3BA885;
    --chart-data-color-9: #3B5EA8;
    --chart-data-color-10: #3BA885;

    /* z-index */
    --navbar-z-index: 19;
    --sidebar-z-index: 20;
    --datetime-z-index: 25;
    --table-label-z-index: 10;

    /* swal */
    --swal-custom-color: var(--table-label-color);
    --swal-custom-bg: var(--page-bg);
    --swal-custom-box-shadow: var(--button-box-shadow);

    /* drawer */
    --drawer-bg: var(--page-bg);
    --drawer-color: white;
  }

  .dark {
    --app-color: #8980AB;
    --app-name-color: var(--sidebar-link-color);
    --page-bg: #131314;

    --sidebar-width: 50px;
    --sidebar-md-width: 200px;
    --sidebar-bg: var(--page-bg);
    --sidebar-link-color: #E3E1EB;
    --sidebar-link-bg: #222229;
    --sidebar-link-hover-bg: var(--sidebar-link-bg);

    --navbar-color: var(--sidebar-link-color);
    --navbar-bg: var(--page-bg);
    --navbar-mode-button-bg: #222730;
    --navbar-mode-button-border-color: #484E59;
    --navbar-mode-button-round-bg: #101318;
    --navbar-mode-button-icon-color: var(--sidebar-link-color);
    --navbar-mode-button-hover-border-color: #787E8A;

    --section-container-color: var(--sidebar-link-color);
    --section-container-bg: #1A191C;
    --section-container-border-color: #242129;

    --table-label-color: var(--sidebar-link-color);
    --table-label-bg: var(--section-container-bg);
    --table-label-box-shadow: 0 0 2px rgba(255, 255, 255, 1);
    --table-label-border-color: var(--sidebar-link-color);
    --table-data-color: var(--sidebar-link-color);
    --table-data-bg: #222024;
    --table-data-hover-bg: var(--sidebar-link-hover-bg);
    --table-data-progress-asc-color: #F04A4A;
    --table-data-progress-desc-color: #4AF0C1;
    --table-data-shimmer-bg: #3F3D47;

    --login-bg: var(--sidebar-bg);
    --login-border-color: var(--section-container-border-color);

    --button-color: var(--sidebar-link-color);
    --button-bg: var(--section-container-bg);
    --button-border: var(--section-container-border-color);
    --button-box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
    --button-focus-box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    --button-hover-bg: #242329;

    --textbox-bg: #32313B;
    --textbox-color: var(--sidebar-link-color);
    --textbox-box-shadow: var(--button-box-shadow);
    --textbox-label-color: var(--sidebar-link-color);
    --textbox-readonly-bg: #222126;

    --dropdown-bg: var(--textbox-bg);
    --dropdown-color: var(--textbox-color);
    --dropdown-box-shadow: var(--textbox-box-shadow);
    --dropdown-label-color: var(--textbox-label-color);
    --dropdown-hover-bg: #252429;
    --dropdown-scrollbar-track: #373642;
    --dropdown-scrollbar-thumb: #242226;

    --datetime-color: var(--textbox-color);
    --datetime-bg: #0F0E0F;
    --datetime-box-shadow: var(--textbox-box-shadow);
    --datetime-label-color: var(--textbox-label-color);
    --datetime-day-sat-color: #6fb6f1;
    --datetime-day-sun-color: #f1956f;
    --datetime-day-hover-color: var(--accent-color);
    --datetime-day-hover-bg: var(--app-color);

    --chart-setting-bg: var(--page-bg);
    --chart-setting-box-shadow: var(--common-container-box-shadow);
    --chart-title-color: white;
    --chart-legend-color: white;
    --chart-grid-color: #2D333B;
    --chart-xaxis-axisBorder-color: #2D333B;
    --chart-xaxis-label-color: #81868E;
    --chart-xaxis-title-color: #40464F;
    --chart-yaxis-label-color: #81868E;
    --chart-yaxis-title-color: #40464F;
    --chart-tooltip-time-color: var(--chart-yaxis-label-color);
    --chart-tooltip-data-color: var(--chart-title-color);
    --chart-zoom-border-color: rgba(106, 126, 254, 1);
    --chart-zoom-bg: rgba(106, 126, 254, 0.25);
    --ue-chart-streaming-icon-color: var(--search-box-placeholder-color);
    --ue-chart-streaming-icon-hover-color: var(--search-box-with-result-count-color);
    --ue-chart-streaming-icon-hover-bg: var(--search-box-with-result-count-bg);
    --matrix-chart-color-offline: #2e343e;
    --matrix-chart-color-online: #3BA885;
    --matrix-chart-color-task: #3B5EA8;
    --chart-data-color-1: #8980AB;
    --chart-data-color-2: #AB8080;
    --chart-data-color-3: #3B5EA8;
    --chart-data-color-4: #3BA885;
    --chart-data-color-5: #3B5EA8;
    --chart-data-color-6: #3BA885;
    --chart-data-color-7: #3B5EA8;
    --chart-data-color-8: #3BA885;
    --chart-data-color-9: #3B5EA8;
    --chart-data-color-10: #3BA885;

    /* drawer */
    --drawer-bg: var(--page-bg);
    --drawer-color: white;
  }
}

html,
body {
  background-color: var(--page-bg);
}

.swal__custom-title {
  font-size: 20px;
}

.swal__custom-container {
  padding: 36px;
}

.swal__custom-confirm-button {
  font-size: 12px;
  color: var(--button-color);
  background-color: var(--button-bg);
  box-shadow: var(--button-box-shadow);
  padding: 6px 12px;

  &:hover {
    background-color: var(--button-hover-bg);
  }
}

.swal__custom-cancel-button {
  font-size: 12px;
  color: var(--button-color);
  background-color: var(--button-bg);
  box-shadow: var(--button-box-shadow);
  padding: 6px 12px;

  &:hover {
    background-color: var(--button-hover-bg);
  }
}

.swal__custom-style {
  font-size: 16px;
  color: var(--swal-custom-color);
  background: var(--swal-custom-bg);
  box-shadow: var(--swal-custom-box-shadow);
}